<h1>Questions Index Page</h1>
<p>I am found in the questions#index controller actions</p>
<p>This will be my route: get('/questions', to: 'questions#index', as: :questions_index)</p>

<% if @tag.present? %>
  <h2>Showing Questions tagged by:
    <span class="badge rounded-pill bg-primary"><%= @tag.name %></span>
  </h2>
<% end %>
<% @questions.each do |question| %>
  <div>
    <h2><%= link_to question.title, question_path(question) %></h2>
  </div>
<% end %>